// Prittierの設定ファイル。
{
	"bracketSpacing": true, // {  } の内側にスペースを入れる。
	"printWidth": 9999, // 折り返し設定。
	"semi": true, // 末尾にセミコロンをつける。
	"singleQuote": true, // シングルクォートを使用。
	"tabWidth": 4, // タブのサイズ。
	"useTabs": true, // タブによるインデントを使用。
	"trailingComma": "es5"
}